@model List<PrintJiraCards.Models.Card>

@{
    /**/

    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Print cards</title>
    <link rel="stylesheet" type="text/css" href="~/Content/site.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/card.css" />
</head>
<body>
    <div id="container">
        @{ foreach (var card in Model) { Html.RenderPartial("~/Views/Print/_CardTemplate.cshtml", card); }}
    </div>
</body>
</html>